<div class="flex flex-wrap -mx-3">
    <!-- card1 -->
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase">Today's Weight</p>
                <h5 class="mb-2 font-bold">54kg</h5>
                <p class="mb-0">
                  <span class="text-sm font-bold leading-normal text-emerald-500">+200g</span>
                  since yesterday
                </p>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-blue-500 to-violet-500 items-center justify-center">

                <span class="text-lg relative top-3 text-white">
                  <svg class="relative w-7 h-7" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7839 40L36.216 40C37.2775 40 38.1541 39.1708 38.213 38.1109L39.7685 10.1109C39.8322 8.96454 38.9198 8 37.7716 8L10.2284 8C9.08021 8 8.16778 8.96454 8.23146 10.1109L9.78702 38.1109C9.8459 39.1708 10.7225 40 11.7839 40ZM36.216 42C38.339 42 40.0921 40.3415 40.2099 38.2219L41.7654 10.2219C41.8928 7.92908 40.0679 6 37.7716 6L10.2284 6C7.93204 6 6.10717 7.92907 6.23455 10.2219L7.7901 38.2219C7.90786 40.3415 9.661 42 11.7839 42L36.216 42Z" fill="#ffffff"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M34.1955 17.4057C33.1476 16.2921 31.9212 15.3544 30.5625 14.6334C28.611 13.5977 26.442 13.0387 24.2329 13.0019C22.0239 12.9652 19.8375 13.4518 17.8526 14.4219C16.4707 15.0973 15.2137 15.9937 14.1293 17.0718L18.7665 20.5603C18.7816 20.5652 18.8205 20.5727 18.8976 20.5657C19.0544 20.5516 19.2744 20.4796 19.4875 20.3354C19.799 20.1244 20.1259 19.935 20.4658 19.7688C21.607 19.2111 22.8639 18.9314 24.1339 18.9525C25.4039 18.9736 26.6509 19.295 27.7728 19.8904C28.1071 20.0678 28.4274 20.268 28.7318 20.4892C28.9399 20.6405 29.1574 20.7198 29.3137 20.739C29.3905 20.7485 29.4297 20.7423 29.4448 20.7379L34.1955 17.4057ZM29.4525 20.7347C29.4527 20.7349 29.4506 20.7362 29.4455 20.7377C29.4498 20.7352 29.4523 20.7344 29.4525 20.7347ZM18.759 20.5567C18.7592 20.5565 18.7617 20.5574 18.766 20.5601C18.7609 20.5583 18.7587 20.557 18.759 20.5567ZM35.8512 16.2506C36.5933 17.0688 36.3659 18.3263 35.4616 18.9606L30.5893 22.3781C29.685 23.0124 28.4495 22.7564 27.556 22.1071C27.3273 21.9408 27.0865 21.7904 26.8353 21.6571C25.9921 21.2096 25.055 20.9681 24.1006 20.9522C23.1462 20.9363 22.2016 21.1466 21.344 21.5657C21.0885 21.6906 20.8429 21.8329 20.6088 21.9915C19.6942 22.6108 18.4508 22.8255 17.5682 22.1615L12.8123 18.5837C11.9296 17.9197 11.7441 16.6553 12.513 15.8623C13.7981 14.5369 15.3066 13.4401 16.9744 12.625C19.2429 11.5163 21.7416 10.9602 24.2662 11.0022C26.7908 11.0442 29.2697 11.6831 31.5 12.8667C33.1397 13.7368 34.6109 14.8832 35.8512 16.2506Z" fill="#ffffff"></path> <path d="M27.1821 15.5719C27.5446 15.1552 28.1762 15.1112 28.5929 15.4736C29.0097 15.8361 29.0537 16.4677 28.6912 16.8844L25.9448 20.0423C25.5824 20.459 24.9507 20.503 24.534 20.1406C24.1173 19.7781 24.0733 19.1465 24.4357 18.7298L27.1821 15.5719Z" fill="#ffffff"></path> </g>
                  </svg>
                </span>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- card2 -->

    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase">Today's Calories</p>
                <h5 class="mb-2 font-bold">2,200</h5>
                <p class="mb-0">
                  <span class="text-sm font-bold leading-normal text-red-600">50 cals</span>
                  over target!
                </p>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-red-600 to-orange-600">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M14.5 10.0003C14.5 9.20875 15.5528 8.99895 15.8321 9.73957C16.5077 11.5311 17 13.1337 17 14.0002C17 16.7616 14.7614 19.0002 12 19.0002C9.23858 19.0002 7 16.7616 7 14.0002C7 13.0693 7.56822 11.2887 8.32156 9.33698C9.29743 6.80879 9.78536 5.54469 10.3877 5.4766C10.5804 5.45482 10.7907 5.49399 10.9626 5.58371C11.5 5.86413 11.5 7.24285 11.5 10.0003C11.5 10.8287 12.1716 11.5003 13 11.5003C13.8284 11.5003 14.5 10.8287 14.5 10.0003Z" stroke="#ffffff"></path> <path d="M11 19L10.7372 18.343C10.2816 17.204 10.4737 15.9079 11.24 14.95V14.95C11.6296 14.463 12.3704 14.463 12.76 14.95V14.95C13.5263 15.9079 13.7184 17.204 13.2628 18.343L13 19" stroke="#ffffff"></path> </g></svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- card3 -->
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase">Weekly Workouts</p>
                <h5 class="mb-2 font-bold">3</h5>
                <p class="mb-0">
                  <span class="text-sm font-bold leading-normal text-emerald-500">On Track</span>
                  since last week
                </p>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-emerald-500 to-teal-400">
                <svg class="relative w-10 h-10" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:none;stroke:#ffffff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} </style> <circle class="st0" cx="17" cy="8" r="7"></circle> <path class="st0" d="M22.5,12.4c0.6,1.5,1.3,2.9,2.2,4.3l1.2,1.9c1.4,2.2,2.1,4.8,2.1,7.4v0l-7.7,3.6C17,31.1,13.1,30.9,10,29l0,0 l-1,2"></path> <path class="st0" d="M11,19L11,19l2.4,0c2.3,0,4.4,1.1,5.6,3l0,0h1l0,0c-0.7-2-1-2-1-6"></path> <circle class="st0" cx="17" cy="8" r="2"></circle> <line class="st0" x1="14.2" y1="5.2" x2="15.6" y2="6.6"></line> <line class="st0" x1="14.2" y1="10.8" x2="15.6" y2="9.4"></line> <line class="st0" x1="19.8" y1="10.8" x2="18.4" y2="9.4"></line> <line class="st0" x1="19.8" y1="5.2" x2="18.4" y2="6.6"></line> <path class="st0" d="M4,14c1.9,0,3.6,0.8,4.9,2c1.3,1.3,2.1,3,2.1,5"></path> </g></svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      

    <!-- card4 -->
    <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:w-1/4">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase">Weekly Cardio</p>
                <h5 class="mb-2 font-bold">4 Sessions</h5>
                <p class="mb-0">
                  <span class="text-sm font-bold leading-normal text-emerald-500">Acheived Target</span>
                </p>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-orange-500 to-yellow-500">
                <svg class="relative w-10 h-10" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:none;stroke:#ffffff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} </style> <path class="st0" d="M27,28h-8.1c-1.2,0-2.3-0.5-3.2-1.3L3,14l7-8v0c0,3.9,4.1,8,8,8h1v0c-0.1,4.5,1.6,7.8,6,9.2 c0.3,0.1,0.5,0.2,0.8,0.2l0,0c1.2,0.3,2,1.6,1.7,2.8L27,28z"></path> <path class="st0" d="M1,16l13.7,13.7c0.8,0.8,2,1.3,3.2,1.3H27"></path> <circle class="st0" cx="10.5" cy="15.5" r="1.5"></circle> <line class="st0" x1="15" y1="19" x2="19.5" y2="19"></line> <line class="st0" x1="17" y1="22" x2="22.5" y2="22"></line> <path class="st0" d="M28,1l-7.3,7.3C19,10,18.4,12.4,19,14.7l0,0"></path> <path class="st0" d="M10,7L10,7c1.9-0.6,3.6-2,4.6-3.7L16,1"></path> </g></svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
