<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    Hi Diabetes Tracker
    <%= content %>
    <% data.forEach(element => { %>
    <h1> <%= element.preferredName %></h1>
    <% }) %>

</body>
</html>



<main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">
    <!-- Navbar -->
    <nav class="relative flex flex-wrap items-center justify-between px-0 py-2 mx-6 transition-all ease-in shadow-none duration-250 rounded-2xl lg:flex-nowrap lg:justify-start" navbar-main navbar-scroll="false">
      <div class="flex items-center justify-between w-full px-4 py-1 mx-auto flex-wrap-inherit">
        
        <li class="flex items-center pl-0 pr-4 xl:hidden">
          <a href="javascript:;" class="block p-0 text-sm text-white transition-all ease-nav-brand" sidenav-trigger>
            <div class="w-4.5 overflow-hidden">
              <i class="ease mb-0.75 relative block h-0.5 rounded-sm bg-white transition-all"></i>
              <i class="ease mb-0.75 relative block h-0.5 rounded-sm bg-white transition-all"></i>
              <i class="ease relative block h-0.5 rounded-sm bg-white transition-all"></i>
            </div>
          </a>
        </li>

        <nav class="pl-0 ml-0 mt-2">
          <h1 class="mb-0 ml-0 text-white capitalize runningshine">
            <span>D</span><span>a</span><span>s</span><span>h</span><span>b</span><span>o</span><span>a</span><span>r</span><span>d</span>
          </h1>
          <h3> <%= firstName %> </h3>
        </nav>

        <div class="flex items-center mt-2 grow sm:mt-0 sm:mr-6 md:mr-0 lg:flex lg:basis-auto">
          <div class="flex items-center md:ml-auto md:pr-4">
            <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease">
              <span class="text-sm ease leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
                <i class="fas fa-search"></i>
              </span>
              <input type="text" class="pl-9 text-sm focus:shadow-primary-outline ease w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 dark:bg-slate-850 dark:text-white bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none focus:transition-shadow" placeholder="Search Friends..." />
            </div>
          </div>

          <ul class="flex flex-row justify-end pl-0 mb-0 list-none md-max:w-full">
            <!-- notifications -->
            <li class="relative flex items-center pr-2">
              <p class="hidden transform-dropdown-show"></p>
              <a href="javascript:;" class="block p-0 text-sm text-white transition-all ease-nav-brand" dropdown-trigger aria-expanded="false">
                <span class="cursor-pointer inline-block w-6 h-6">
                  <svg class="w-full h-full" fill="#ffffff" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 8a6 6 0 0 1 4.03-5.67 2 2 0 1 1 3.95 0A6 6 0 0 1 16 8v6l3 2v1H1v-1l3-2V8zm8 10a2 2 0 1 1-4 0h4z"></path>
                  </svg>
                </span>
              </a>

              <ul dropdown-menu class="text-sm transform-dropdown before:font-awesome before:leading-default before:duration-350 before:ease lg:shadow-3xl duration-250 min-w-44 before:sm:right-8 before:text-5.5 pointer-events-none absolute right-0 top-0 z-50 origin-top list-none rounded-lg border-0 border-solid border-transparent dark:shadow-dark-xl dark:bg-slate-850 bg-white bg-clip-padding px-2 py-4 text-left text-slate-500 opacity-0 transition-all before:absolute before:right-2 before:left-auto before:top-0 before:z-50 before:inline-block before:font-normal before:text-white before:antialiased before:transition-all before:content-['\f0d8'] sm:-mr-6 lg:absolute lg:right-0 lg:left-auto lg:mt-2 lg:block lg:cursor-pointer">
              
                <li class="relative mb-2">
                  <a class="dark:hover:bg-slate-900 ease py-1.2 clear-both block w-full whitespace-nowrap rounded-lg bg-transparent px-4 duration-300 hover:bg-gray-200 hover:text-slate-700 lg:transition-colors" href="javascript:;">
                    <div class="flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/team-2.jpg" class="inline-flex items-center justify-center mr-4 text-sm text-white h-9 w-9 max-w-none rounded-xl" />
                      </div>
                      <div class="flex flex-col justify-center">
                        <h6 class="mb-1 text-sm font-normal leading-normal dark:text-white"><span class="font-semibold">New message</span> from Laur</h6>
                        <p class="mb-0 text-xs leading-tight text-slate-400 dark:text-white/80">
                          <i class="mr-1 fa fa-clock"></i>
                          13 minutes ago
                        </p>
                      </div>
                    </div>
                  </a>
                </li>

                <li class="relative mb-2">
                  <a class="dark:hover:bg-slate-900 ease py-1.2 clear-both block w-full whitespace-nowrap rounded-lg px-4 transition-colors duration-300 hover:bg-gray-200 hover:text-slate-700" href="javascript:;">
                    <div class="flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/small-logos/logo-spotify.svg" class="inline-flex items-center justify-center mr-4 text-sm text-white bg-gradient-to-tl from-zinc-800 to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 h-9 w-9 max-w-none rounded-xl" />
                      </div>
                      <div class="flex flex-col justify-center">
                        <h6 class="mb-1 text-sm font-normal leading-normal dark:text-white"><span class="font-semibold">New album</span> by Travis Scott</h6>
                        <p class="mb-0 text-xs leading-tight text-slate-400 dark:text-white/80">
                          <i class="mr-1 fa fa-clock"></i>
                          1 day
                        </p>
                      </div>
                    </div>
                  </a>
                </li>  
              </ul>

            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- end Navbar -->

    <!-- cards -->
    <div class="w-full px-6 py-6 mx-auto">
      <!-- row 1 -->
      <div class="flex flex-wrap -mx-3">
        <!-- card1 -->
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
              <div class="flex flex-row -mx-3">
                <div class="flex-none w-2/3 max-w-full px-3">
                  <div>
                    <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">Today's Weight</p>
                    <h5 class="mb-2 font-bold dark:text-white">54kg</h5>
                    <p class="mb-0 dark:text-white dark:opacity-60">
                      <span class="text-sm font-bold leading-normal text-emerald-500">+200g</span>
                      since yesterday
                    </p>
                  </div>
                </div>
                <div class="px-3 text-right basis-1/3">
                  <div class="inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-blue-500 to-violet-500 items-center justify-center">

                    <span class="text-lg relative top-3 text-white">
                      <svg class="relative w-7 h-7" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7839 40L36.216 40C37.2775 40 38.1541 39.1708 38.213 38.1109L39.7685 10.1109C39.8322 8.96454 38.9198 8 37.7716 8L10.2284 8C9.08021 8 8.16778 8.96454 8.23146 10.1109L9.78702 38.1109C9.8459 39.1708 10.7225 40 11.7839 40ZM36.216 42C38.339 42 40.0921 40.3415 40.2099 38.2219L41.7654 10.2219C41.8928 7.92908 40.0679 6 37.7716 6L10.2284 6C7.93204 6 6.10717 7.92907 6.23455 10.2219L7.7901 38.2219C7.90786 40.3415 9.661 42 11.7839 42L36.216 42Z" fill="#ffffff"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M34.1955 17.4057C33.1476 16.2921 31.9212 15.3544 30.5625 14.6334C28.611 13.5977 26.442 13.0387 24.2329 13.0019C22.0239 12.9652 19.8375 13.4518 17.8526 14.4219C16.4707 15.0973 15.2137 15.9937 14.1293 17.0718L18.7665 20.5603C18.7816 20.5652 18.8205 20.5727 18.8976 20.5657C19.0544 20.5516 19.2744 20.4796 19.4875 20.3354C19.799 20.1244 20.1259 19.935 20.4658 19.7688C21.607 19.2111 22.8639 18.9314 24.1339 18.9525C25.4039 18.9736 26.6509 19.295 27.7728 19.8904C28.1071 20.0678 28.4274 20.268 28.7318 20.4892C28.9399 20.6405 29.1574 20.7198 29.3137 20.739C29.3905 20.7485 29.4297 20.7423 29.4448 20.7379L34.1955 17.4057ZM29.4525 20.7347C29.4527 20.7349 29.4506 20.7362 29.4455 20.7377C29.4498 20.7352 29.4523 20.7344 29.4525 20.7347ZM18.759 20.5567C18.7592 20.5565 18.7617 20.5574 18.766 20.5601C18.7609 20.5583 18.7587 20.557 18.759 20.5567ZM35.8512 16.2506C36.5933 17.0688 36.3659 18.3263 35.4616 18.9606L30.5893 22.3781C29.685 23.0124 28.4495 22.7564 27.556 22.1071C27.3273 21.9408 27.0865 21.7904 26.8353 21.6571C25.9921 21.2096 25.055 20.9681 24.1006 20.9522C23.1462 20.9363 22.2016 21.1466 21.344 21.5657C21.0885 21.6906 20.8429 21.8329 20.6088 21.9915C19.6942 22.6108 18.4508 22.8255 17.5682 22.1615L12.8123 18.5837C11.9296 17.9197 11.7441 16.6553 12.513 15.8623C13.7981 14.5369 15.3066 13.4401 16.9744 12.625C19.2429 11.5163 21.7416 10.9602 24.2662 11.0022C26.7908 11.0442 29.2697 11.6831 31.5 12.8667C33.1397 13.7368 34.6109 14.8832 35.8512 16.2506Z" fill="#ffffff"></path> <path d="M27.1821 15.5719C27.5446 15.1552 28.1762 15.1112 28.5929 15.4736C29.0097 15.8361 29.0537 16.4677 28.6912 16.8844L25.9448 20.0423C25.5824 20.459 24.9507 20.503 24.534 20.1406C24.1173 19.7781 24.0733 19.1465 24.4357 18.7298L27.1821 15.5719Z" fill="#ffffff"></path> </g>
                      </svg>
                    </span>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- card2 -->

        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
              <div class="flex flex-row -mx-3">
                <div class="flex-none w-2/3 max-w-full px-3">
                  <div>
                    <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">Today's Calories</p>
                    <h5 class="mb-2 font-bold dark:text-white">2,200</h5>
                    <p class="mb-0 dark:text-white dark:opacity-60">
                      <span class="text-sm font-bold leading-normal text-red-600">50 cals</span>
                      over target!
                    </p>
                  </div>
                </div>
                <div class="px-3 text-right basis-1/3">
                  <div class="inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-red-600 to-orange-600">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M14.5 10.0003C14.5 9.20875 15.5528 8.99895 15.8321 9.73957C16.5077 11.5311 17 13.1337 17 14.0002C17 16.7616 14.7614 19.0002 12 19.0002C9.23858 19.0002 7 16.7616 7 14.0002C7 13.0693 7.56822 11.2887 8.32156 9.33698C9.29743 6.80879 9.78536 5.54469 10.3877 5.4766C10.5804 5.45482 10.7907 5.49399 10.9626 5.58371C11.5 5.86413 11.5 7.24285 11.5 10.0003C11.5 10.8287 12.1716 11.5003 13 11.5003C13.8284 11.5003 14.5 10.8287 14.5 10.0003Z" stroke="#ffffff"></path> <path d="M11 19L10.7372 18.343C10.2816 17.204 10.4737 15.9079 11.24 14.95V14.95C11.6296 14.463 12.3704 14.463 12.76 14.95V14.95C13.5263 15.9079 13.7184 17.204 13.2628 18.343L13 19" stroke="#ffffff"></path> </g></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- card3 -->
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
              <div class="flex flex-row -mx-3">
                <div class="flex-none w-2/3 max-w-full px-3">
                  <div>
                    <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">Weekly Workouts</p>
                    <h5 class="mb-2 font-bold dark:text-white">3</h5>
                    <p class="mb-0 dark:text-white dark:opacity-60">
                      <span class="text-sm font-bold leading-normal text-emerald-500">On Track</span>
                      since last week
                    </p>
                  </div>
                </div>
                <div class="px-3 text-right basis-1/3">
                  <div class="inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-emerald-500 to-teal-400">
                    <svg class="relative w-10 h-10" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:none;stroke:#ffffff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} </style> <circle class="st0" cx="17" cy="8" r="7"></circle> <path class="st0" d="M22.5,12.4c0.6,1.5,1.3,2.9,2.2,4.3l1.2,1.9c1.4,2.2,2.1,4.8,2.1,7.4v0l-7.7,3.6C17,31.1,13.1,30.9,10,29l0,0 l-1,2"></path> <path class="st0" d="M11,19L11,19l2.4,0c2.3,0,4.4,1.1,5.6,3l0,0h1l0,0c-0.7-2-1-2-1-6"></path> <circle class="st0" cx="17" cy="8" r="2"></circle> <line class="st0" x1="14.2" y1="5.2" x2="15.6" y2="6.6"></line> <line class="st0" x1="14.2" y1="10.8" x2="15.6" y2="9.4"></line> <line class="st0" x1="19.8" y1="10.8" x2="18.4" y2="9.4"></line> <line class="st0" x1="19.8" y1="5.2" x2="18.4" y2="6.6"></line> <path class="st0" d="M4,14c1.9,0,3.6,0.8,4.9,2c1.3,1.3,2.1,3,2.1,5"></path> </g></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>      

        <!-- card4 -->
        <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:w-1/4">
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
              <div class="flex flex-row -mx-3">
                <div class="flex-none w-2/3 max-w-full px-3">
                  <div>
                    <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-60">Weekly Cardio</p>
                    <h5 class="mb-2 font-bold dark:text-white">4 Sessions</h5>
                    <p class="mb-0 dark:text-white dark:opacity-60">
                      <span class="text-sm font-bold leading-normal text-emerald-500">Acheived Target</span>
                    </p>
                  </div>
                </div>
                <div class="px-3 text-right basis-1/3">
                  <div class="inline-block w-12 h-12 text-center rounded-circle bg-gradient-to-tl from-orange-500 to-yellow-500">
                    <svg class="relative w-10 h-10" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:none;stroke:#ffffff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} </style> <path class="st0" d="M27,28h-8.1c-1.2,0-2.3-0.5-3.2-1.3L3,14l7-8v0c0,3.9,4.1,8,8,8h1v0c-0.1,4.5,1.6,7.8,6,9.2 c0.3,0.1,0.5,0.2,0.8,0.2l0,0c1.2,0.3,2,1.6,1.7,2.8L27,28z"></path> <path class="st0" d="M1,16l13.7,13.7c0.8,0.8,2,1.3,3.2,1.3H27"></path> <circle class="st0" cx="10.5" cy="15.5" r="1.5"></circle> <line class="st0" x1="15" y1="19" x2="19.5" y2="19"></line> <line class="st0" x1="17" y1="22" x2="22.5" y2="22"></line> <path class="st0" d="M28,1l-7.3,7.3C19,10,18.4,12.4,19,14.7l0,0"></path> <path class="st0" d="M10,7L10,7c1.9-0.6,3.6-2,4.6-3.7L16,1"></path> </g></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- cards row 2 -->
      <div class="flex flex-wrap mt-6 -mx-3">
        <div class="w-full max-w-full px-3 mt-0 lg:w-7/12 lg:flex-none">
          <div class="border-black/12.5 dark:bg-slate-850 dark:shadow-dark-xl shadow-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
            <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid p-6 pt-4 pb-0">
              <h6 class="capitalize dark:text-white">Body Recomp Chart/Data</h6>
              <p class="mb-0 text-sm leading-normal dark:text-white dark:opacity-60">
                <!-- Add custom arrow to show trend -->
                <span class="font-semibold">Summary statistic</span> week to week
              </p>
            </div>
            <div class="flex-auto p-4">
              <div>
                <canvas id="chart-line" height="300">
                  <p>Chart insert here with statistic</p>
                </canvas>
              </div>
            </div>
          </div>
        </div>

        <!-- images of body recomp -->
        <div class="w-full max-w-full px-3 lg:w-5/12 lg:flex-none">
          <div slider class="relative w-full h-full overflow-hidden rounded-2xl">
            <!-- slide 1 -->
            <div slide class="absolute w-full h-full transition-all duration-500">
              <img class="object-cover h-full" src="../assets/img/compTemp.png" alt="carousel image" />
              <div class="block text-start ml-12 left-0 bottom-0 absolute right-[15%] pt-5 pb-5 text-white">
                <h5 class="mb-1 text-white">Progress as of 12/03/2024</h5>
                <p class="dark:opacity-80">- Comments - </p>
              </div>
            </div>

            <!-- slide 2 -->
            <div slide class="absolute w-full h-full transition-all duration-500">
              <img class="object-cover h-full" src="../assets/img/compTemp.png" alt="carousel image" />
              <div class="block text-start ml-12 left-0 bottom-0 absolute right-[15%] pt-5 pb-5 text-white">
                <h5 class="mb-1 text-white">Progress as of 12/03/2024</h5>
                <p class="dark:opacity-80">- Comments - </p>
              </div>
            </div>

            <!-- Control buttons -->
            <button btn-next class="absolute z-10 w-10 h-10 p-2 text-lg text-white border-none opacity-50 cursor-pointer hover:opacity-100 far active:scale-110 top-6 right-4"> 
              <span>
                <svg class="relative w-6 h-6" fill="#c0c0c0" height="200px" width="200px" version="1.1" id="XMLID_287_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="next"> <g> <polygon points="6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 "></polygon> </g> </g> </g></svg>
              </span>
            </button>

            <button btn-prev class="absolute z-10 w-10 h-10 p-2 text-lg text-white border-none opacity-50 cursor-pointer hover:opacity-100 far active:scale-110 top-6 right-8"> 
              <span>
                <svg class="relative w-6 h-6" fill="#c0c0c0" height="200px" width="200px" version="1.1" id="XMLID_54_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve" stroke="#c0c0c0"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="previous"> <g> <polygon points="17.2,23.7 5.4,12 17.2,0.3 18.5,1.7 8.4,12 18.5,22.3 "></polygon> </g> </g> </g></svg>
              </span>
            </button>
          </div>
        </div>
      </div>

      <!-- cards row 3 -->

      <div class="flex flex-wrap mt-6 -mx-3">
        <div class="w-full max-w-full px-3 mt-0 mb-6 lg:mb-0 lg:w-7/12 lg:flex-none">
          <div class="relative flex flex-col min-w-0 break-words bg-white border-0 border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl dark:bg-gray-950 border-black-125 rounded-2xl bg-clip-border">
            <div class="p-4 pb-0 mb-0 rounded-t-4">
              <div class="flex justify-between">
                <h6 class="mb-2 dark:text-white">Weekly Check-ins</h6>
              </div>
            </div>
            <div class="overflow-x-auto">
              <table class="items-center w-full mb-4 align-top border-collapse border-gray-200 dark:border-white/40">
                <thead>
                  <tr>
                    <th class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">Date</th>
                    <th class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">Weight</th>
                    <th class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">Cheat meals</th>
                    <th class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">Workouts</th>
                    <th class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">Body Images</th>
                    <th class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">Comments</th>
                  </tr>
                </thead>
                <tbody>

                  <!-- Row of weekly checkin -->
                  <tr>
                    <td class="p-2 align-middle bg-transparent border-b w-3/10 whitespace-nowrap dark:border-white/40">
                      <div class="flex items-center px-2 py-1">
                        <!-- <div>
                          <img src="" alt="Profile Pic" />
                        </div> -->
                        <div class="ml-6">
                          <h6 class="mb-0 text-sm leading-normal dark:text-white">12/02/2023</h6>
                        </div>
                      </div>
                    </td>
                    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                      <div class="text-center">
                        <h6 class="mb-0 text-sm leading-normal dark:text-white">54 kgs</h6>
                      </div>
                    </td>
                    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                      <div class="text-center">
                        <h6 class="mb-0 text-sm leading-normal dark:text-white">3</h6>
                      </div>
                    </td>
                    <td class="p-2 text-sm leading-normal align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                      <div class="flex-1 text-center">
                        <h6 class="mb-0 text-sm leading-normal dark:text-white">4 Days</h6>
                      </div>
                    </td>

                    <td class="p-2 text-sm leading-normal align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                      <div class="flex-1 text-center">
                        <h6 class="mb-0 text-sm leading-normal dark:text-white">View</h6>
                      </div>
                    </td>

                    <td class="p-2 text-sm leading-normal align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                      <div class="flex-1 text-center">
                        <h6 class="mb-0 text-sm leading-normal dark:text-white">Feeling quite hungry</h6>
                      </div>
                    </td>
                  </tr>
                  
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="w-full max-w-full px-3 mt-0 lg:w-5/12 lg:flex-none">
          <div class="border-black/12.5 shadow-xl  relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
            <div class="p-4 pb-0 rounded-t-4">
              <h6 class="mb-0 dark:text-white">Quick Access</h6>
            </div>
            <div class="flex-auto p-4">
              <ul class="flex flex-col pl-0 mb-0 rounded-lg">
                <li class="relative flex justify-between py-2 pr-4 mb-2 border-0 rounded-t-lg rounded-xl text-inherit">
                  <div class="flex items-center">
                    <div class="inline-block w-8 h-8 mr-4 text-center text-black bg-center shadow-sm fill-current stroke-none bg-gradient-to-tl from-zinc-800 to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 rounded-xl">
                      <i class="text-white ni ni-mobile-button relative top-0.75 text-xxs"></i>
                    </div>
                    <div class="flex flex-col">
                      <h6 class="mb-1 text-sm leading-normal text-slate-700 dark:text-white">Workout Routine</h6>
                      <span class="text-xs leading-tight dark:text-white/80">3 Day Split, <span class="font-semibold">Push Pull Legs</span></span>
                    </div>
                  </div>
                  <div class="flex">
                    <button class="group ease-in leading-pro text-xs rounded-3.5xl p-1.2 h-6.5 w-6.5 mx-0 my-auto inline-block cursor-pointer border-0 bg-transparent text-center align-middle font-bold text-slate-700 shadow-none transition-all dark:text-white"><i class="ni ease-bounce text-2xs group-hover:translate-x-1.25 ni-bold-right transition-all duration-200" aria-hidden="true"></i></button>
                  </div>
                </li>
                <li class="relative flex justify-between py-2 pr-4 mb-2 border-0 rounded-xl text-inherit">
                  <div class="flex items-center">
                    <div class="inline-block w-8 h-8 mr-4 text-center text-black bg-center shadow-sm fill-current stroke-none bg-gradient-to-tl from-zinc-800 to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 rounded-xl">
                      <i class="text-white ni ni-tag relative top-0.75 text-xxs"></i>
                    </div>
                    <div class="flex flex-col">
                      <h6 class="mb-1 text-sm leading-normal text-slate-700 dark:text-white">Diet Plan</h6>
                      <span class="text-xs leading-tight dark:text-white/80">2200 Calories, <span class="font-semibold">4 meals</span></span>
                    </div>
                  </div>
                  <div class="flex">
                    <button class="group ease-in leading-pro text-xs rounded-3.5xl p-1.2 h-6.5 w-6.5 mx-0 my-auto inline-block cursor-pointer border-0 bg-transparent text-center align-middle font-bold text-slate-700 shadow-none transition-all dark:text-white"><i class="ni ease-bounce text-2xs group-hover:translate-x-1.25 ni-bold-right transition-all duration-200" aria-hidden="true"></i></button>
                  </div>
                </li>
                <li class="relative flex justify-between py-2 pr-4 mb-2 border-0 rounded-b-lg rounded-xl text-inherit">
                  <div class="flex items-center">
                    <div class="inline-block w-8 h-8 mr-4 text-center text-black bg-center shadow-sm fill-current stroke-none bg-gradient-to-tl from-zinc-800 to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 rounded-xl">
                      <i class="text-white ni ni-box-2 relative top-0.75 text-xxs"></i>
                    </div>
                    <div class="flex flex-col">
                      <h6 class="mb-1 text-sm leading-normal text-slate-700 dark:text-white">Messages</h6>
                      <span class="text-xs leading-tight dark:text-white/80">1 New Message</span>
                    </div>
                  </div>
                  <div class="flex">
                    <button class="group ease-in leading-pro text-xs rounded-3.5xl p-1.2 h-6.5 w-6.5 mx-0 my-auto inline-block cursor-pointer border-0 bg-transparent text-center align-middle font-bold text-slate-700 shadow-none transition-all dark:text-white"><i class="ni ease-bounce text-2xs group-hover:translate-x-1.25 ni-bold-right transition-all duration-200" aria-hidden="true"></i></button>
                  </div>
                </li>
                <li class="relative flex justify-between py-2 pr-4 border-0 rounded-b-lg rounded-xl text-inherit">
                  <div class="flex items-center">
                    <div class="inline-block w-8 h-8 mr-4 text-center text-black bg-center shadow-sm fill-current stroke-none bg-gradient-to-tl from-zinc-800 to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 rounded-xl">
                      <i class="text-white ni ni-satisfied relative top-0.75 text-xxs"></i>
                    </div>
                    <div class="flex flex-col">
                      <h6 class="mb-1 text-sm leading-normal text-slate-700 dark:text-white">Check-ins</h6>
                      <span class="text-xs leading-tight dark:text-white/80"><span class="font-semibold">4 Weeks Tracked  </span></span>
                    </div>
                  </div>
                  <div class="flex">
                    <button class="group ease-in leading-pro text-xs rounded-3.5xl p-1.2 h-6.5 w-6.5 mx-0 my-auto inline-block cursor-pointer border-0 bg-transparent text-center align-middle font-bold text-slate-700 shadow-none transition-all dark:text-white"><i class="ni ease-bounce text-2xs group-hover:translate-x-1.25 ni-bold-right transition-all duration-200" aria-hidden="true"></i></button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>



      <footer class="pt-4">
        <div class="w-full px-6 mx-auto">
          <div class="flex flex-wrap items-center -mx-3 lg:justify-between">
            <div class="w-full max-w-full px-3 mt-0 mb-6 shrink-0 lg:mb-0 lg:w-1/2 lg:flex-none">
              <div class="text-sm leading-normal text-center text-slate-500 lg:text-left">
                PhysiqLife ©
                <script>
                  document.write(new Date().getFullYear() + ",");
                </script>
                a project by
                <a href="https://www.creative-tim.com" class="font-semibold text-slate-700 dark:text-white" target="_blank">Suren Fernando</a>
                
              </div>
            </div>
          
          </div>
        </div>
      </footer>
    </div>
    <!-- end cards -->
  </main>