<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>

<body>
    <header class="canvas-head">
        <div class="logo-container">
            <h1>PhysiqLife</h1>
        </div>
        <div class="canvas-container-h">
            <canvas id="canv-h" width="32" height="32"></canvas>
        </div>
    </header>
    
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="POST" action="/signup">
                <h1>Create Account</h1>
                <input type="text" placeholder="First Name" name="firstName">
                <input type="text" placeholder="Last Name" name="lastName">
                <input type="date" placeholder="DoB" name="DoB">
                <input type="email" placeholder="Email" name="username">
                <input type="password" placeholder="Password" name="password">
                <button type="submit">Sign Up</button> 
            </form>            
        </div>
        <div class="form-container sign-in">
            <form method="POST" action="/login">
                <h1>Login</h1>
                <input type="email" placeholder="Email" name="username">
                <input type="password" placeholder="Password" name="password">
                <a href="#">Forget Your Password?</a>
                <button>Login</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Already a member?</h1>
                    <p>Log in to keep the progress tracking!!</p>
                    <button class="hidden" id="login">Login</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Newbie?</h1>
                    <p>Sign up for free and track the magic!!</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="canvas-foot">
        
        <div class="canvas-container-f">
            <canvas id="canv-f" width="32" height="32"></canvas>

        </div>
       
        <!-- <div class="author-container">
            <h3>PhysiqLife by Suren Fernando </h3>
        </div> -->
    </footer>

    <script src="/css/login.js"></script>
</body>

</html>